# Node
node_modules/

# Environment files
.env
frontend/.env

# VS Code
.vscode/

# Logs
*.log
# --------------------------
# Python
# --------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db